.card{
    border: 2px solid #bbbbbb;
     width: 350px;  
    text-align: center;
    padding: 10px; 
    /* margin-right: 0px; */
    /* background: rgb(255,255,255); */
    background-color:#bbbbbb; 
}
.card img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    /* padding: 30px; */
    
}
.card >*{
    margin: 10px 0px;
}
.card span{
    font-weight: bold;
    color: black;
}
.card p{
    color: rgb(56, 56, 56);
}
button{
    outline: none;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
    background-color: green;
    color: white;
    border-radius: 10px;
}
button:hover{
    background-color: #004b00;
    border: 2px solid grey;
}
